!.gitignore

!*

#
#Generic
#

.directory
.mailmap
*.orig
*.rej
*~
.hg/
*.kdev*
.DS_Store
CMakeLists.txt.user
*.bak
*.patch
*.diff
*.REMOTE.*
*.BACKUP.*
*.BASE.*
*.LOCAL.*

#
# IDE & other softwares
#
/.settings/
/.externalToolBuilders/*
# exclude in all levels
nbproject/
.sync.ffs_db

#
# Eclipse
#
*.pydevproject
.metadata
.gradle
tmp/
*.tmp
*.swp
*~.nib
local.properties
.settings/
.loadpath
.project
.cproject
data/sql/custom/*.sql
data/sql/custom/db_world/
data/sql/updates/
data/sql/archive/
data/sql/base/
data/sql/create/
data/contrib/
data/doc

deps/
docker/worldserver/data*/
volume/
.gitkeep
.dummy
env/
.vscode/
package/
backup/
thirdParty/wow_proxy/
__pycache__/
data*.tar.gz
saved/
